.container-login-cadastro {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba($color-black, 0.725),
      rgba($color-black, 0.725)),
    url(../img/fundo.svg);
  display: flex;
  justify-content: center;
  align-items: center;

}