$color-primary: #ffd930;
$color-primary-light: #ffe77a;
$color-primary-dark-1: #E9AF0E;

$color-wrong: #ff7730;

$color-ok: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #2A2927;


$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;